<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">{{site.tabs.profile.title}}</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">{{site.tabs.profile.name}}</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">{{site.tabs.profile.dob}}</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Address</label>
                <span class="value">{{site.tabs.profile.address}}</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">{{site.tabs.profile.email}}</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">{{site.tabs.profile.mobile}}</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">{{site.tabs.profile.website}}</a></span>
                <div class="clear"></div>
            </li>

        </ul>
        {% if site.tabs.profile.quote1 %}
        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            {{site.tabs.profile.quote1 | "default": "Some very long Quote1"}}
        </p>
        {% endif %}
        {% if site.tabs.profile.quote2 %}
        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            {{site.tabs.profile.quote2 | "default": "Some very long Quote2"}}
        </p>
        {% endif %}

        {% if site.twitter.timeline %}
        <p style="margin-bottom:20px">
            <a class="twitter-timeline" data-lang="en" data-width="220" data-height="200" href="{{site.twitter.url}}?ref_src=twsrc%5Etfw"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
        {% endif %}
        
    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">
        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>
    </div>
</div>

{% include /services.html %}

<div class="clear"></div>
</div>
<!-- End .profile -->