<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="no-js"> <!--<![endif]-->  
{% include head.html %}
<body>
      {{content}}
      <!-- </div> -->
<!-- {% include footer.html %} -->
{% include scripts.html %}
</body>
</html> 

